
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>汇总查询</title>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/lib/layui/layui.js"></script>

    <style>
        .layui-table, .layui-table-view {
            margin: 2px 0;
        }

        .toprow {
            margin-top: 2px;
        }

        .dateinputdiv {
            width: 295px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            layui.use(['table','laydate','layer'], function () {
                var table = layui.table;
                var laydate = layui.laydate;
                var layer = layui.layer;

                //日期段
                laydate.render({
                    elem: "#searchDate",
                    type: "datetime",
                    range: true
                });
                //初始化数据表格
                var infotable=table.render({
                    elem: '#infoShowTable'
                    , height: '582'
                    , url: '/Home/GetBusinessData' //数据接口
                    , page: true //开启分页
                    , limit: 20 //每页显示多少条
                    ,size: 'sm'
                    , cellMinWidth: 50 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    , cols: [[ //表头
                        { field: 'xuhao',width:90, title: '序号',type:'numbers',fixed:'left' }
                        , { field: 'houz',width:90, title: '后缀' }
                        , { field: 'count', title: '统计数量' }
                        , { field: 'quDao', title: '所属渠道' }
                    ]]
                });

                $("#btnSearch").on("click", function () {
                    var datetime = $("#searchDate").val();
                    if (datetime!=""&&datetime.length!=41) {
                        layer.msg("时间段格式不对，请重新选择", { icon: 2 });
                        return;
                    }
                    //表格重载
                    infotable.reload({
                        url: "/Home/GetBusinessData",
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            bedate: datetime
                        }
                    });
                });

                $("#btnExport").on("click", function () {
                    var datetime = $("#searchDate").val();
                    if (datetime!=""&&datetime.length!=41) {
                        datetime = "";
                    }
                    $.ajax({
                        url: "/Home/GetBusinessData",
                        type: "post",
                        datatype: "json",
                        data: { page: 1, limit: 10000000, bedate: datetime },
                        success: function (data) {
                            if (data.code == 0) {
                                table.exportFile(infotable.config.id, data.data,"xls");
                            }
                            else {
                                layer.msg("导出失败！");
                            }
                        }
                    });
                });
            });
        });
    </script>
</head>
<body>
    <div class="layui-row toprow">
        <div class="layui-col-md10">
            <div class="layui-inline">
                <label class="layui-form-label">起始日期</label>
                <div class="layui-input-inline dateinputdiv">
                    <input type="text" class="layui-input" id="searchDate" autocomplete="off" placeholder=" - ">
                </div>
            </div>
            <button class="layui-btn" id="btnSearch"><i class="layui-icon layui-icon-search"></i></button>
        </div>
        <div class="layui-col-md2"><button class="layui-btn layui-btn-radius layui-layout-right" id="btnExport">导出</button></div>
    </div>
    <table id="infoShowTable" lay-filter="test"></table>
</body>
</html>
